# initial block determines global options
{
	email freemvmt@posteo.net
	# dev / debugging options (comment out on prod / in version control)
	# debug
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

# always redirect to https for localhost
http://localhost {
	redir https://localhost{uri} permanent
}

https://localhost {
	# for local dev, use Caddy’s internal CA instead of ACME
	# browser will complain - see https://caddyserver.com/docs/running#local-https-with-docker
	tls internal
	reverse_proxy frontend:{$FRONTEND_PORT}
	encode gzip
	log
}

mnist.commune.london {
	reverse_proxy frontend:{$FRONTEND_PORT}
	encode gzip
	log
}
